body {
    background-color:#262626;
	color: #EEEEEE
}

#topmenu .modal {
	color: black;
}

.topbar.row {
	background-color: #000000;
	height: 82px;
}

.logo {
	height: 120px;
}

.sm-gutters div{
	padding: 2px;
}

.textarea {
	background-color: white;
	color: black;
}

.imgbox {
	background-color: black;
	background-clip: content-box;
	height: 100px;
}

.imgbox h6 {
	font-size: .75em;
	
}

.imgbox img {
	max-height: 60px;
}

.userdropdown div {
	background-color: black;
	color: white;
}

.userdropdown .dropdown-item {
	color: white;
}

.userdropdown .dropdown-item:hover, .userdropdown .dropdown-item:focus{
	color: #1d1e1f;
	text-decoration: none;
	background-color: #f7f7f9;
}


	.topbar .menuitem {
		font-size: 1.3em;
	}
	.topbar .dropdown-item {
		font-size: 1.2em;
	}

#mainbody {
	min-height: 400px;
	background: #f1e9d2;
  	-webkit-box-shadow: inset 0 0 30px 5px #d5a761;
  	box-shadow: inset 0 0 30px 5px #d5a761;
}

.introduction {
	padding: 10px 20px 10px 20px;
	font-family: 'La Belle Aurore', cursive; 
	font-size: 1.5rem;	
}

.hover-purple:hover, .hover-purple:focus {
	background-color: #512b7a;
}

.hover-green:hover, .hover-green:focus {
	background-color: #2c7a41;
}

.hover-blue:hover, .hover-blue:focus {
	background-color: #2a317a;
}

.hover-red:hover, .hover-red:focus {
	background-color: #7a2a2a;
}

.zoulimg {
	max-height: 80px;
	max-width: 100px;
}

#dtForms label {
	font-weight: 500;
}

@media screen and (max-width: 970px) {
	.topbar .menuitem {
		font-size: 2em;
	}
	.topbar .dropdown-item {
		font-size: 2em;
	}
}