<h3>Welcome to the Rise of the Founders LARP!</h3>
				<br>
				<p>We are a Fantasy LARP based out of Tallahassee, FL and the surrounding areas. We play at the beautiful Wallwood Boy Scout Reservation in Quincy FL.</p>
				<p>
Rise of the Founders is a new and exciting Live Action Roleplaying experience for the North Florida area. At the beautiful site of Wallwood Boy Scout Reserve, players take on roles of wizards and warriors, monsters and marauders, and all manner of fantasy-inspired creations to tell an epic story together.</p>
