
  				<div class="row justify-content-between align-items-center">
					<div class="col-6">
						<div class="row">
							<div class="col"><h2 id="charname"></h2></div>
						</div>
						<div class="row">
							<div class="col"><small id="culture"></small>&nbsp;<small id="magic"></small></div>
						</div>
						<div class="row">
							<div class="col"><small id="xp"></small></div>
						</div>
					</div>
					<div class="col"></div>
					<div class="col-auto text-center">
						<div class="row justify-content-center align-items-end h-100">
							<div class="col-12">
								<img id="hasZoulimg" src="./res/Zoul.svg" class="img-fluid zoulimg">
								<img style="display: none" id="noZoulimg" src="./res/No Zoul.svg" class="img-fluid zoulimg">
							</div>
							<div class="col-12">
								<h3 id="template"></h3><h3 id="zoul"></h3>
							</div>
						</div>
					</div>
  				</div>
  				<div class="row">
  					<div class="col">
						<table class="table table-striped table-bordered dt-responsive dtr-inline" cellspacing="0" width="100%" id="skills-grid">
							<thead>
								<tr>
								  <th class="all" style="min-width:40%">Skill</th>
									<th class="min-tablet-l" style="min-width:10%">Cost</th>
									<th class="all" style="min-width:10%">Levels</th>
								  <th class="desktop" style="min-width:40%">Notes</th>
								</tr>
							</thead>
						</table>
					</div>
  				</div>

