
<div class="pt-3 pb-3">
	<table class="table table-striped table-bordered dt-responsive dtr-inline" cellspacing="0" width="100%" id="downtime-grid">
		<thead>
			<tr>
				<th class="all" style="min-width:40%">Submission</th>
				<th class="min-tablet-l" style="min-width:40%">Response</th>
				<th class="all" style="min-width:10%">Date</th>
				<th class="desktop" style="min-width:10%">Progress</th>
			</tr>
		</thead>
	</table>
</div>
