<div class="row pt-3 pb-3 justify-content-center" id="dtForms">
	<div class="col-12 col-md-6 col-lg-4 form-group">
		<label for="dtformtype">Submission Type</label>
		<select class="form-control" id="dtformtype">
			<option disabled hidden selected></option>
			<option data-group="dtform" data-pair="dtForm">Submit Downtime</option>
			<option data-group="dtform" data-pair="skillForm">Submit Note/Spend XP</option>
		</select>
	</div>
	<div class="dtform col-12 col-lg-10" id="dtForm" style="display:none">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4 form-group">
				<label for="dttype1">Downtime Type</label>
				<select class="form-control" id="dttype1">
					<option disabled hidden selected></option>
					<option data-group="dt1" data-pair="topic1div">Research</option>
					<option data-group="dt1" data-pair="ritual1div">Ritual</option>
				</select>
		  	</div>
		  	<div class="dt1 col-12 col-md-6 col-lg-4 form-group" style="display:none" id="topic1div">
				<label for="topic1">Topic</label>
				<input type="text" class="form-control" id="topic1">
		  	</div>
		  	<div class="dt1 col-12 col-md-6 col-lg-4 form-group" style="display:none" id="ritual1div">
				<label for="ritual1">Ritual</label>
				<input type="text" class="form-control" id="ritual1">
		  	</div>
	  	</div>
	  	<div class="row">
			<div class="col form-group">
				<label for="submissiontext1">Submission 1</label>
				<textarea class="form-control" id="submissiontext1" rows="5"></textarea>
		  	</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4 form-group">
				<label for="dttype2">Downtime Type</label>
				<select class="form-control" id="dttype2">
					<option disabled hidden selected></option>
					<option data-group="dt2" data-pair="topic2div">Research</option>
					<option data-group="dt2" data-pair="ritual2div">Ritual</option>
				</select>
		  	</div>
		  	<div class="dt2 col-12 col-md-6 col-lg-4 form-group" style="display:none" id="topic2div">
				<label for="topic2">Topic</label>
				<input type="text" class="form-control" id="topic2">
		  	</div>
		  	<div class="dt2 col-12 col-md-6 col-lg-4 form-group" style="display:none" id="ritual2div">
				<label for="ritual2">Ritual</label>
				<input type="text" class="form-control" id="ritual2">
		  	</div>
	  	</div>
	  	<div class="row">
			<div class="col form-group">
				<label for="submissiontext2">Submission 2</label>
				<textarea class="form-control" id="submissiontext2" rows="5"></textarea>
		  	</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4 form-group">
				<label for="dttype3">Downtime Type</label>
				<select class="form-control" id="dttype3">
					<option disabled hidden selected></option>
					<option data-group="dt3" data-pair="topic3div">Research</option>
					<option data-group="dt3" data-pair="ritual3div">Ritual</option>
				</select>
		  	</div>
		  	<div class="dt3 col-12 col-md-6 col-lg-4 form-group" style="display:none" id="topic3div">
				<label for="topic3">Topic</label>
				<input type="text" class="form-control" id="topic3">
		  	</div>
		  	<div class="dt3 col-12 col-md-6 col-lg-4 form-group" style="display:none" id="ritual3div">
				<label for="ritual3">Ritual</label>
				<input type="text" class="form-control" id="ritual3">
		  	</div>
	  	</div>
	  	<div class="row">
			<div class="col form-group">
				<label for="submissiontext3">Submission 3 (6VP / Free with Season Pass)</label>
				<textarea class="form-control" id="submissiontext3" rows="5"></textarea>
		  	</div>
		</div>
		<div class="row mt-1 justify-content-end">
			<div class="col-12 col-md-6 col-lg-3">
				<button class="btn btn-block" id="downtimesubmit" onclick="submitDowntimes()">Submit</button>
			</div>
		</div>
	</div>
	<div class="dtform col-12 col-lg-10" id="skillForm" style="display:none">
	  	<div class="row">
			<div class="col form-group">
				<label for="cppurchase">What would you like to Purchase?</label>
				<textarea class="form-control" id="cppurchase" rows="5"></textarea>
		  	</div>
		</div>
	  	<div class="row">
			<div class="col form-group">
				<label for="notestext">What other notes or comments would you like to pass along to staff?</label>
				<textarea class="form-control" id="notestext" rows="5"></textarea>
		  	</div>
		</div>
		<div class="row mt-1 justify-content-end">
			<div class="col-12 col-md-6 col-lg-3">
				<button class="btn btn-block" id="notesSubmit" onclick="submitNotes()">Submit</button>
			</div>
		</div>
	</div>
</div>
