<div class="row align-items-center justify-content-between">
  			<div class="col-lg-auto col-12 text-center">
				<a onclick="loadIntro()" href="javascript:"><img src="./res/Rise of the Founders Banner.jpg" class="logo"></a>
  			</div>
  			<div class="w-100 hidden-lg-up"></div>
  			<div class="col hidden-md-down"></div>
  			<div class="col-md-12 col-lg-5 text-center">
  				<div class="row justify-content-center justify-content-lg-end align-items-end sm-gutters">
				<div class="col-sm-12 col-md imgbox hover-purple" href="https://drive.google.com/file/d/0B6UNzitJUmvlUjhKMmsyczdCS2c/preview" role="button">
						<div class="row justify-content-center align-items-end h-100">
							<div class="col-8">
								<img src="./res/Quill_and_ink.svg" class="img-fluid">
							</div>
							<div class="col-8">
								<h6>Rules</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md imgbox hover-green" role="button">
						<div class="row justify-content-center align-items-end h-100" onclick="loadschedule();">
							<div class="col-8">
									<img src="./res/sundial.svg" class="img-fluid">
							</div>
							<div class="col-8">
							<h6>Schedule</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md imgbox dropdown hover-blue" role="button">
						<div data-toggle="dropdown">
							<div class="row justify-content-center align-items-end h-100">
								<div class="col-8">
									<img src="./res/Coin_stack_icon-01.svg" class="img-fluid">
								</div>
								<div class="col-8">
									<h6>Store</h6>
								</div>
							</div>
						</div>
						  <div class="dropdown-menu dropdown-menu" aria-labelledby="store">
							<a class="dropdown-item" href="https://squareup.com/store/rise-of-the-founders" target="_blank">Passes</a>
							<a class="dropdown-item" href="https://squareup.com/store/captains-roost/" target="_blank">Meal Plans</a>
						  </div>
					</div>
					<div class="col-sm-12 col-md imgbox hover-red" role="button" onclick="loadAbout()">
						<div class="row justify-content-center align-items-end h-100">
								<div class="col-8">
									<img src="./res/About.svg" class="img-fluid">
								</div>
								<div class="col-8">
									<h6>About</h6>
								</div>
							</div>
					</div>
					<div class="col-sm-12 col-md imgbox hover-purple" role="button" href="https://www.facebook.com/groups/312618902275211/">
						<div class="row justify-content-center align-items-end h-100">
								<div class="col-8">
									<img src="./res/contact.svg" class="img-fluid">
								</div>
								<div class="col-8">
									<h6>Contact</h6>
								</div>
							</div>
					</div>
				</div>
  			</div>
  		</div>