<div class="container-fluid">
		<div class="topbar row align-items-center">
			<div classs="col hidden-xs-down">
			</div>
			<div class="col-1 text-center" role="button">
				<a target="_blank" href="https://www.facebook.com/groups/312618902275211/">
					<img src="./res/FB-f-Logo__white_29.png">
				</a>
			</div>
			<div class="col"></div>
			<div class="col-10 col-sm-10 col-lg-10 text-right align-middle">
				<div class="dropdown userdropdown" id="login">
				  <div role="button" class="dropdown-toggle menuitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Login
				  </div>
				  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="login">
					<form id="loginform" action="">
						<div class="loginform container-fluid">
							<div class="row justify-content-between" id="emailinput">
								<div class="col">
									<label for="email">Email: </label>
									<input type="text" class="form-control" id="email"/>
								</div>
							</div>
						  	<div class="row  mt-1 justify-content-between" id="passwordinput">
								<div class="col">
									<label for="password">Password:</label>
							  	<input type="password" class="form-control"/>
								</div>
							</div>
							<div class="row mt-1">
								<div class="col"><small>Both Email and Password are Case Sensitive.</small></div>
							</div>
							<div class="row mt-1 justify-content-end">
								<div class="col-4">
									<button clas="btn" id="logininput" type="submit">Login</button>
								</div>
							</div>
						</div>
					  </form>
				  </div>
				</div>
				<div class="dropdown userdropdown" id="userdropdown" style="display:none">
					<div role="button" class="dropdown-toggle menuitem" id="username" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  	Username
					</div>
				  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="username">
					<a class="dropdown-item" onclick="loadDT()" href="javascript:">Review Downtimes</a>
					<a class="dropdown-item" onclick="loadDTForms()" href="javascript:">Submit Downtimes</a>
					<a class="dropdown-item" href="javascript:" onclick="loadCharacterSheet()">Character Sheet</a>
					<a class="dropdown-item" data-toggle="modal" data-target="#changechar" href="javascript:">Select Character</a>
					<a class="dropdown-item" data-toggle="modal" data-target="#passwordchange" href="javascript:">Change Password</a>
					<a class="dropdown-item" onclick="logout()" href="javascript:">Logout</a>
				  </div>
				</div>		
			</div>
		</div>
	</div>
<div class="modal fade" id="passwordchange" tabindex="-1" role="dialog" aria-labelledby="passwordchangelabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordchangelabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
			<div class="form-group">
				<label for="recipient-name" class="form-control-label">New Password</label>
				<input type="password" class="form-control" id="pcinput1">
			  </div>
			  <div class="form-group">
				<label for="message-text" class="form-control-label">Enter Password Again</label>
				<input type="password" class="form-control" id="pcinput2">
		 	</div>
			<div class="col-sm-12" id="pwmatch" style="display:none">
				<span  class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <small style="color:Red">Passwords Must Match</small>
			</div>
       		<div class="col-sm-12" id="pwshort" style="display:none">
				<span  class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <small style="color:Red">Passwords Must Be At Least 5 Characters</small>
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="changepassword()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="changechar" tabindex="-1" role="dialog" aria-labelledby="changecharlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changecharlabel">Change Character</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="list-group" id="list-tab" role="tablist">
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="changeCharacter()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>